@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);
*{
  font-family: 'Josefin Sans', sans-serif;
}

a{
  color:inherit;
}
#home{
  background-image: url("../img/blueprint1basement.gif");
  background-size: cover;
}
.navbar-default .navbar-nav>li>a{
  transition: color .3s;
  color:#3B50A0;
}
.navbar-default .navbar-nav>li>a:hover{
  color: rgba(255, 255, 255, .9);
}
.navbar{
  margin-bottom: 0;
  padding-bottom: 58px;
  font-size:18px;
}
.navbar-nav{
  padding-top: 10px;
}
.navbar-default{
  background:rgba(255, 255, 255, .9);
  /*background: none;*/
  border: none;
}
.color{
  /*background-color: rgba(0, 0, 0, .8);*/
}
h1{
  color:white;
  font-size: 42px;
}
h3{
  color:white;
}
p{
  color:white;
  font-size: 18px;
  padding-left: 4px;
}
.blueprint{
  max-width: 166%;
  padding-top: 236px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  max-width: 44%;
  padding-top: 13px;
}
#text{
  padding-top: 30px;
}
footer{
  background-color: rgba(0, 0, 0, .65);
  padding: 20px;
  margin-top:60px;
}
footer p{
  padding-top:15px;
  font-size: 16px;
}
